<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="float: right"> {{categoryName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <swiper-container
    #swiperRef
    initial-slide="0"
    (activeindexchange)="onActiveIndexChange()"
    slides-per-view="1"
  >
    <swiper-slide>
      <h1>{{game.type.name}}</h1>
      <ul *ngFor="let player of game.players">
        <li>{{player.name}}</li>
        <li>{{player.status}}</li>
        <li>{{player.role.name}}</li>
        <li>
          <ul *ngFor="let action of player.role.actions">
            <li><input type="text" [(ngModel)]="tp" /></li>
            <li>
              <button (click)="action.invoke(game,tp)">{{action.name}}</button>
            </li>
          </ul>
        </li>
      </ul>
    </swiper-slide>

    <swiper-slide *ngFor="let category of categoryListWithDetail">
      <h1>{{category.name}}</h1>
      <ul *ngFor="let item of roles">
        <li>{{item.name}}</li>
        <li>
          <ul *ngFor="let i of item.actions">
            <li><button>{{i.name}}</button></li>
          </ul>
        </li>
      </ul>
    </swiper-slide>

    <swiper-slide>
      <h6>جدید</h6>
    </swiper-slide>
  </swiper-container>
</ion-content>

<a id="scrollTop" (click)="addCategory()">
  <ion-icon size="large" name="add-outline"></ion-icon>
</a>
