<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="float: right"> {{categoryName}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <swiper-container
    #swiperRef
    initial-slide="0"
    (activeindexchange)="onActiveIndexChange()"
    slides-per-view="1"
  >
    <swiper-slide *ngFor="let item of categoryListWithDetail">
      <h1>{{item.name}}</h1>
    </swiper-slide>
    <swiper-slide>
      <h6>جدید</h6>
    </swiper-slide>
  </swiper-container>
</ion-content>

<a id="scrollTop" (click)="addCategory()">
  <ion-icon size="large" name="add-outline"></ion-icon>
</a>
